.cover {
  width: 100%;
  height: calc(100vw / 1.6);
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

@media (min-width: 1280px) {
  .cover {
    max-width: 1184px;
    height: 740px;
    margin: 0 auto;
  }
}
